[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pytest-bdd = "*"
pytest-html = "*"
black = "*"
isort = "*"
flake8 = "*"
deepdiff = "*"
jsonpath = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.11"
